/* Estilos para as borboletas */
.butterfly {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
    animation: flutter 2s infinite alternate ease-in-out;
    will-change: transform; /* Otimização de performance */
    z-index: 1; /* Garantir que fique atrás do conteúdo */
}

@keyframes flutter {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-5px) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(-5deg);
    }
}

@media (max-width: 768px) {
    .butterfly {
        animation: flutter 1.5s infinite alternate ease-in-out; /* Animação mais rápida em mobile */
    }

    @keyframes flutter {
        0% {
            transform: translateY(0) rotate(0deg);
        }
        50% {
            transform: translateY(-3px) rotate(3deg);
        }
        100% {
            transform: translateY(0) rotate(-3deg);
        }
    }
    
    #third-section .carousel-container {
        margin-top: 2rem;
    }
    
    #third-section .carousel-logo {
        width: 90px; /* Aumentando o tamanho da borboleta em dispositivos móveis */
        top: -45px; /* Ajustando a posição vertical para compensar o tamanho maior */
        right: -30px; /* Ajustando a posição horizontal */
    }
}