@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    overflow-x: hidden;
}

.bg-noite {
    background-image: url(imgs/84366.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-campo{
    background-image: url(imgs/campo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.FunnelDi{
    font-family: Funnel Display;
    text-shadow:  
    -1px -1px 0 black,  
         1px -1px 0 black,  
        -1px  1px 0 black,  
         1px  1px 0 black,  
        -1.5px -1.5px 0 black,  
         1.5px -1.5px 0 black,  
        -1.5px  1.5px 0 black,  
         1.5px  1.5px 0 black; /* Contorno leve */
}

.Pacifico{
    font-family: Pacifico;
    text-shadow:  
    -1px -1px 0 black,  
         1px -1px 0 black,  
        -1px  1px 0 black,  
         1px  1px 0 black,  
        -1.5px -1.5px 0 black,  
         1.5px -1.5px 0 black,  
        -1.5px  1.5px 0 black,  
         1.5px  1.5px 0 black; /* Contorno leve */
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

.logoImg {
    width: 60px;
    height: 60px;
}

.contbai{
    font-size: 30px;
    margin-top: 20px;
}

.carrobai{
    margin-top: 75px !important;
}

.escritabai{
    margin-top: 75px;
}

.polabai{
    margin-top: 50px;
}

@media (max-width: 768px) {
    .bg-noite {
        background-image: url('imgs/Noite-estrelada-cell.png');
    }

    .bg-campo{
        background-image: url(imgs/campo-cell.jpeg);
    }

    .logoImg{
        width: 40px;
        height: 40px;
    }

    .contbai{
        margin-top: 10px;
        font-size: 25px;
    }

    .carrobai{
        margin-top: 25px !important;
    }

    .escritabai{
        margin-top: 25px;
    }
}
